<!-- Hidden Modal -->
<div id="notes-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close modalClose" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <ul id="notes-list" class="list-group">
                            <li class="list-group-item">Here's a note <button id="trash-btn" class="btn btn-sm float-right"><i class="fas fa-trash-alt"></i></button></li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" id="note-text" rows="3" placeholder="Enter new note text here."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="modalClose btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="save-btn" class="btn btn-dark">Save Note</button>
        </div>
        </div>
    </div>
</div>
<!-- Navbar -->
<div class="all-content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Crime Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-sm btn-danger" href="/clear" role="button">CLEAR ARTICLES</a>
            </li>
            </ul>
        </div>
    </nav>
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid d-flex align-items-center">
        <div class="container">
            <h1 class="display-3">Crime Scraper</h1>
            <p class="lead">Saved Articles</p>
        </div>
    </div>
    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{#each articles}}
                    <div class="card" data-id="{{_id}}">
                        <div class="d-flex align-items-center">
                            <h5 class="highlight card-header mx-auto w-100">
                                <a href="{{link}}" target="_blank">{{headline}}</a> <button type="button" class="btn btn-info">{{tag}}</button>
                                <button data-id="{{_id}}" id="note-btn" class="btn float-right" value="{{saved}}" data-toggle="modal" data-target="#notes-modal"><i class="fas fa-sticky-note"></i></button>
                                {{#if saved}}                                
                                    <button data-id="{{_id}}" id="fav-btn" class="btn float-right" value="{{saved}}"><i class="fas fa-heart-broken"></i></button>
                                {{else}}
                                    <button data-id="{{_id}}" id="fav-btn" class="btn float-right" value="{{saved}}"><i class="far fa-heart"></i></button>
                                {{/if}}
                            </h5>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <img src="{{imgUrl}}" class="card-img">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <p class="card-text">{{summary}}</p>
                                    <p class="card-text card-date">Posted On: {{displayDate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <br><br>
    <!-- Footer -->
    <footer class="footer">
        <p>Crime News &nbsp;&nbsp;|&nbsp;&nbsp;Sourced from <a href="https://time.com/tag/crime/" target="_blank">Time</a></p>
    </footer>
</div>
<!-- JavaScript -->
<script src="../assets/javascript/saved.js"></script>